* {
  padding: 0;
  margin: 0;
}

#register_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  flex-direction: column;
  background-color: #c3c3be2c;
}

/* #login_form {
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 8px 32px 0 #1115492f;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid #ffffff11;
  padding: 5rem 5rem;
} */

#register_form h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.6rem;
}

#register_form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#register_form form input {
  width: 24rem;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  border: 1px solid #000000b2;
  outline: none;
  background: none;
  margin: 0.6rem 0;
  font-size: 1rem;
}

#register_form form input::placeholder {
  color: #000000e8;
  font-size: 0.95rem;
}

#register_form form button {
  padding: 0.4rem 1.2rem;
  background-color: #000000e8;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
  margin-top: 1.4rem;
}

#registerButtonLink {
  color: #ffffff;
  text-decoration: none;
}
